In [1]:
import pandas as pd 
from os import listdir

sum1=0

data = pd.read_csv(r"./Data/meditating.csv") 
col=[]
total_rows=len(data)
sum1=sum1+total_rows
for i in range(total_rows):
    col.append('nostress')
data['result'] = col
   
data2 = pd.DataFrame()

data2=data2.append(data)
#data2=data2.drop(columns=['Unnamed: 1'])

In [2]:
data = pd.read_csv(r"./Data/thinking.csv") 
col=[]
total_rows=len(data)
sum1=sum1+total_rows
for i in range(total_rows):
    col.append('stress')
data['result'] = col


data2=data2.append(data)
#data2=data2.drop(columns=['Unnamed: 1'])

In [3]:
data2

        FP2-F4  GSR    result
0         1206    5  nostress
1         1190    1  nostress
2         1043    1  nostress
3         1018    3  nostress
4          933    0  nostress
5          907    4  nostress
6          901    3  nostress
7          890    3  nostress
8          879    2  nostress
9          877    3  nostress
10         863    2  nostress
11         863    0  nostress
12         850    3  nostress
13         848    5  nostress
14         841    1  nostress
15         825    3  nostress
16         823    4  nostress
17         822    2  nostress
18         816    0  nostress
19         810    2  nostress
20         804    5  nostress
21         800    3  nostress
22         775    4  nostress
23         764    3  nostress
24         762    4  nostress
25         753    0  nostress
26         748    5  nostress
27         748    3  nostress
28         738    2  nostress
29         735    5  nostress
...        ...  ...       ...
153570   -1004    6    stress
153571   -1042    7    stress
153572   -1047    6    stress
153573   -1051    6    stress
153574   -1058    7    stress
153575   -1063    6    stress
153576   -1064    6    stress
153577   -1085   10    stress
153578   -1128    8    stress
153579   -1165   10    stress
153580   -1169    8    stress
153581   -1175    9    stress
153582   -1202    8    stress
153583   -1202    7    stress
153584   -1208    9    stress
153585   -1245    6    stress
153586   -1245    8    stress
153587   -1300    6    stress
153588   -1355    8    stress
153589   -1366    7    stress
153590   -1411    9    stress
153591   -1429   10    stress
153592   -1487    6    stress
153593   -1487    8    stress
153594   -1494    6    stress
153595   -1503   10    stress
153596   -1504    9    stress
153597   -1540    9    stress
153598   -1582    9    stress
153599   -1599   10    stress

[307200 rows x 3 columns]

In [4]:
from sklearn.utils import shuffle
data2 = shuffle(data2)
data2 = data2.sample(frac=1).reset_index(drop=True)
import sklearn.utils
data2 = sklearn.utils.shuffle(data2)
data2 = data2.reset_index(drop=True)

In [5]:
X = data2
y = pd.DataFrame(data=data2, columns=['result'])

In [6]:
#data2=data2.astype(float)
data2.dtypes

FP2-F4     int64
GSR        int64
result    object
dtype: object

In [7]:
# creating a dict file  
gender = {'nostress': 0,'stress': 1} 

y.result = [gender[item] for item in y.result]

In [8]:
del X['result']

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
X.shape

(307200, 2)

In [28]:
X1=X[0:300000]
y1=y[0:300000]

In [29]:
X2=X[300001:307200]
y2=y[300001:307200]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=42, stratify=y)

In [30]:
import xgboost as xgb

dtrain = xgb.DMatrix(data=X1, label=y1)
dtest = xgb.DMatrix(data=X2)

params = {
    'max_depth': 6,
    'objective': 'multi:softmax',  # error evaluation for multiclass training
    'num_class': 2,
    'n_gpus': 0
}

bst = xgb.train(params, dtrain)

pred = bst.predict(dtest)

In [31]:
pred

array([0., 1., 0., ..., 1., 1., 0.], dtype=float32)

In [33]:
y2

        result
300001       0
300002       1
300003       0
300004       0
300005       1
300006       0
300007       0
300008       0
300009       1
300010       1
300011       0
300012       0
300013       0
300014       0
300015       1
300016       0
300017       0
300018       1
300019       0
300020       1
300021       0
300022       0
300023       0
300024       1
300025       0
300026       0
300027       0
300028       0
300029       0
300030       1
...        ...
307170       0
307171       1
307172       0
307173       1
307174       1
307175       1
307176       1
307177       1
307178       1
307179       1
307180       0
307181       0
307182       1
307183       0
307184       1
307185       0
307186       1
307187       1
307188       0
307189       1
307190       0
307191       0
307192       1
307193       0
307194       0
307195       1
307196       1
307197       1
307198       1
307199       0

[7199 rows x 1 columns]

In [34]:
from sklearn.metrics import classification_report

print(classification_report(y2, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3529
           1       1.00      1.00      1.00      3670

    accuracy                           1.00      7199
   macro avg       1.00      1.00      1.00      7199
weighted avg       1.00      1.00      1.00      7199

In [36]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y2, pred)
cm

array([[3529,    0],
       [   0, 3670]])

In [37]:
from sklearn.metrics import accuracy_score

predictions = [round(value) for value in pred]
# evaluate predictions
accuracy = accuracy_score(y2, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 100.00%

In [38]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=10, random_state=0)
clf.fit(X1, y1)
pred2=clf.predict(X2)

/Users/raghav/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/raghav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [39]:
from sklearn.metrics import classification_report

print(classification_report(y2, pred2))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3529
           1       1.00      1.00      1.00      3670

    accuracy                           1.00      7199
   macro avg       1.00      1.00      1.00      7199
weighted avg       1.00      1.00      1.00      7199

In [41]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y2, pred2)
cm

array([[3529,    0],
       [   0, 3670]])

In [42]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X1,y1)

#Predict the response for test dataset
y_pred = clf.predict(X2)

In [43]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y2, y_pred)
cm

array([[3529,    0],
       [   0, 3670]])

In [44]:
from sklearn.metrics import classification_report

print(classification_report(y2, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3529
           1       1.00      1.00      1.00      3670

    accuracy                           1.00      7199
   macro avg       1.00      1.00      1.00      7199
weighted avg       1.00      1.00      1.00      7199